body
{
    background: linear-gradient(to right, #F4E2D8, #d16b88);
    color:white;
}
.container
{
    width:30%;
    margin:auto;
    text-align: center;
    margin-top: 20vh;
    background-color: #060933d3;
    padding: 14px;
    font-size: 25px;
}