body
{
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
}
.container
{
    width:30%;
    margin:auto;
    text-align: center;
    margin-top: 20vh;
    padding: 14px;
}
.pass h2
{
    width: 100%;
    background-color:#130101;
    word-wrap: break-word;
    padding:10px;
    font-size:25px;
    border-radius: 30px;
    color:rgb(225, 245, 255);
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
}
.pass button
{
    font-size: 17px;
    outline:none;
    border:none;
    padding:10px;
    font-weight: 800;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    margin-top: 1%;
    color:#060933;
    background-color:#ebff34;
    position: absolute;
    top: 20%;
    left: 60%; 
    transition: background-color 0.5s;
    display: none;
}
.pass button:hover
{
    background-color:#e946ffdc;
    display:block;
}
.tocopy:hover + .hide
{
    display:block;
}
input[type="number"]
{
    word-wrap: break-word;
}
.body
{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 20px;
    margin-top:5vh;
    margin-bottom:3vh;
    font-weight: bold;
    color:#01021d;
}
.myform
{
    display: flex;
    justify-content: space-between;
}
.body button
{
    font-size: 22px;
    outline:none;
    border:none;
    padding:12px;
    border-radius: 10px;
    font-family: 'Merienda One', cursive;
    cursor: pointer;
    margin-top: 5vh;
    background-color:#060933;
    color:#c8f8ff;
    transition: background-color 0.5s, font-size 0.5s, transform 0.3s;
}
.body button:hover
{
    font-size:27px;
    transform: rotate(-7deg);
    background-color:#060933e8;
}
@media (max-width:575px)
{
    .container
    {
        width: 80%;
    }
}
@media (min-width:576px) and (max-width:767px)
{
    .container
    {
        width: 60%;
    }
}
@media (min-width:768px) and (max-width:991px)
{
    .container
    {
        width: 50%;
    }
}
@media (min-width:992px) and (max-width:1199px)
{
    .container
    {
        width: 40%;
    }
}