body
{
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    
}
.container
{
    width:30%;
    margin:auto;
    text-align: center;
    margin-top: 20vh;
    padding: 14px;
}
.pass h2
{
    width: 100%;
    background-color:#130101;
    word-wrap: break-word;
    padding:10px;
    font-size:25px;
    border-radius: 30px;
    color:rgb(225, 245, 255);
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
}
.pass .copy
{
    height: 91px;
    width: 425px;
    position: fixed;
    top: 20%;
    left: 35.2%;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    text-align: right;
}
.pass .copy:hover
{
    opacity: 1;
}
.pass button
{
    font-size: 17px;
    outline:none;
    border:none;
    padding:10px;
    font-weight: 500;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    margin-top: 1%;
    background-color:#060933;
    color:#c8f8ff;
    position: fixed;
    top: 18.5%;
    left: 60%; 
    transition: background-color 0.5s;
}
.pass button:hover
{
    background-color:#060933e8;
}
.body
{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 20px;
    margin-top:5vh;
    margin-bottom:3vh;
    font-weight: bold;
    color:#01021d;
}
.myform
{
    display: flex;
    justify-content: space-between;
}
.body button
{
    font-size: 25px;
    outline:none;
    border:none;
    padding:12px;
    font-weight: 700;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    margin-top: 5vh;
    background-color:#060933;
    color:#c8f8ff;
    transition: background-color 0.5s, font-size 0.5s, transform 0.3s;
}
.body button:hover
{
    font-size:30px;
    transform: rotate(-10deg);
    background-color:#060933e8;
}